@font-face {
    font-family: myFirstFont;
    src: url('Ubuntu/Ubuntu-Light.ttf');
  }
  
  #body_id {
    font-family: myFirstFont;
  }

 
  @media only screen and (max-width: 600px) {
    #form_i{
            padding: 0px;
    }
  }